.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #0F0F10;
    color: white;
    font-weight: 600;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }
  .card svg.material-icons path {
    fill: #888;
  }

  #notification{

    margin-left: 30em;
  }

  .sidedata {
    height: 56px;
    color: white;

    background-color: black;
    position: absolute;
    right: 0px;
    /* text-align: left; */
    /* float: right; */
    padding-right: 20px;
  }

  .account{
    color: #f8f9fa;
    padding-right: 10px;
    padding-top: 9px;

  }
  #notification {
    padding-right: 0px;
    color: #f8f9fa;
    margin: 5px;


  }

.name{
  color: #f8f9fa;
  padding-right: 21px;
  /* margin: 10px; */
  padding-right: 16px;
  font-size: 20px;

  }