 <footer class="foot"><br>
     <span class="material-icons ">
3d_rotation
</span> <br><br>
<span class="material-icons ">
accessibility
</span><br><br>
<span class="material-icons ">
accessible
</span><br><br>
<span class="material-icons ">
admin_panel_settings
</span><br><br>
<span class="material-icons ">
android
</span><br><br>
  </footer>