footer {
    border: 1px solid black;
    width: 173px;
    position: fixed;
    top: 65px;
    /* border: 2px solid; */
    height: 100%;
    left: 100px;
    opacity: 0.5;
    border-radius: 5px;
    padding-left: 30px;
  }
  
  
    footer a {
      display: flex;
      align-items: center;
    }
  
  .foot{
      font-size: 40px;
      margin-left: 18px;
  
    }
    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 40px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      margin-left: 18px;
    }