 <footer >
<h3>Curriculam</h3><br><br>
<h3>Mark entity</h3><br><br>
<h3>Component configuration</h3><br><br>
<h3>Copy template</h3><br><br>
<h3>Mark upload</h3><br><br>
<h3>View report card</h3><br><br>
<h3>Mark card</h3><br><br>
<h3>Add report  card item</h3><br><br>
<h3>Mark card</h3><br><br>
<h3>Add report card item</h3><br><br>
<h3>Subject-card entity status</h3><br><br>
<h3>External exam upload</h3><br><br>


  </footer>