<!-- Toolbar -->
<app-header></app-header>
<app-componentconfig></app-componentconfig>
<!--curriculam-->
<app-curriculam> </app-curriculam>

  <!-- Footer -->
  <app-footer></app-footer>
<router-outlet></router-outlet>