<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<div class="card-container">  
    <a class="card" target="_blank" rel="noopener" (click)="openModal()">Component {{unique_key}}

    <span class="material-icons">
delete_outline
</span>
    </a>





</div>