<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Are you sure <br> you want to delete the Component?</h1>
    </header>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="donothing()">No, Cancel it. </button>
        <button mat-raised-button id="modal-cancel-button" (click)="remove_me()">Delete Component</button>
    </footer>
</div>