
#modal-content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}

#modal-title {
    font-size: 22px;
    text-align: center;
}

#modal-footer {
    justify-self: right;
    align-self: center;
}

#modal-action-button {
    margin-right: 160px;
    background-color:white;
    color: black;
    width: 160px;
}

#modal-cancel-button {
    width: 160px;
    margin-right: 22px;
    background-color: #e46060;
    color: white;
}