<div class="text">
<h1>Component configuration </h1> 
<p>Curriculum/Component configuration </p>
</div>
<div class="main"> 

          <div class="card-container">  
    <a class="card" target="_blank" rel="noopener" (click)="createComponent()">
 <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
     <span>Add components</span> 
    </a>
  </div>
   </div>
   <div>
</div>
<br><br><br> <br>
<div class="dynamic_child">


<ng-template #viewContainerRef></ng-template>
</div>